<h1>Configurações da conta</h1>

<hr />

<h2>Edite os detalhes da sua conta</h2>

<div class="formWrapper">
  <form id="accountEdit1" action="/api/users" method="PUT">
    <input type="hidden" name="_method" value="PUT"/>
    <div class="formError"></div>
    <div class="formSuccess">Suas alterações foram salvas</div>
    <input class="hiddenPhoneNumberInput"  type="hidden" name="phone" />
    <div class="inputWrapper">
      <div class="inputLabel">Celular</div>
      <input class="disabled displayPhoneInput" type="text" name="displayPhone" disabled />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Nome</div>
      <input class="firstNameInput" type="text" name="firstName" placeholder="Rodolfo" />
    </div>
    <div class="inputWrapper">
      <div class="inputLabel">Sobrenome</div>
      <input class="lastNameInput" type="text" name="lastName" placeholder="Rodrigues" />
    </div>
    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta green">Salvar alterações</button>
    </div>
  </form>
</div>

<hr />
<h2>Mude sua senha</h2>
<div class="formWrapper">
  <form id="accountEdit2" action="/api/users" method="PUT">
    <input type="hidden" name="_method" value="PUT"/>
    <div class="formError"></div>
    <div class="formSuccess">Sua nova senha foi salva</div>
    <input class="hiddenPhoneNumberInput" type="hidden" name="phone" />
    <div class="inputWrapper">
      <div class="inputLabel">Escolha uma nova senha</div>
      <input type="password" name="password" placeholder="Crie uma boa!" />
    </div>
    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta green">Salvar Senha</button>
    </div>
  </form>
</div>


<hr />
<h2>Deletar sua conta</h2>
<div class="formWrapper">
  <form id="accountEdit3" action="/api/users" method="DELETE">
    <input type="hidden" name="_method" value="DELETE"/>
    <div class="formError"></div>
    <div class="warning">Aviso: Esta ação não pode ser desfeita. Não clique neste botão por acidente!</div>
    <input class="hiddenPhoneNumberInput" type="hidden" name="phone" />
    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta red">Deletar conta</button>
    </div>
  </form>
</div>