<h1>Criar conta</h1>
<h2>{head.description}</h2>

<div class="formWrapper">
    <form id="accountCreate" action="/api/users" method="POST">
        <div class="formError"></div>
        <div class="inputWrapper">
        <div class="inputLabel">Npme</div>
        <input type="text" name="firstName" placeholder="Rodolfo" required/>
        </div>
        <div class="inputWrapper">
        <div class="inputLabel">Sobrenome</div>
        <input type="text" name="lastName" placeholder="Rodrigues" required/>
        </div>
        <div class="inputWrapper">
        <div class="inputLabel">Celular</div>
        <input type="tel" name="phone" placeholder="(11) 98646-9837" required/>
        </div>
        <div class="inputWrapper">
        <div class="inputLabel">Crie sua senha</div>
        <input type="password" name="password" placeholder="Crie uma boa!" required/>
        </div>
        <div class="inputWrapper">
            <div class="inputLabel">
                <input type="checkbox" name="tosAgreement" value="agree"> &nbsp;
                Você concorda com os termos e condições?
            </div>
        </div>
        <div class="inputWrapper ctaWrapper">
        <button type="submit" class="cta blue">Criar conta</button>
        </div>
    </form>
</div>